name: GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    name: Rust project
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: jetli/wasm-pack-action@v0.3.0
        with:
          version: "latest"

      - run: wasm-pack build --target web
      - run: ls

      - name: copy page
        run: mkdir public && cp index.html ./public && cp index.css ./public && mv pkg ./public && rm ./public/pkg/.gitignore

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./public
          keep_files: false
